<div th:replace="fragments/header"></div>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container">
		<a class="navbar-brand" href="#">Demo</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarResponsive" aria-controls="navbarResponsive"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{/items}">Home
				</a></li>
				<li class="nav-item"><span class="input-group-btn"
					data-toggle="modal" data-target=".modal-addItem"> <a
						class="nav-link disabled" href="#">Add Item</a></span></li>
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/cart}">Shopping Cart <span class="sr-only">(current)</span></a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- Page Content -->
<div class="container">
	<div class="row">
		<!-- /.col-lg-3 -->
		<div class="col-lg-12">
			<div id="carouselExampleIndicators" class="carousel slide my-4"
				data-ride="carousel"></div>
			<div class="row">
				<div class="col-lg-12 col-md-12" th:if="${msge != null}">
					<p class="text-success">
						<strong>Message : </strong> <span th:text="${msge}"></span>
					</p>
				</div>
				<div class="col-lg-12 col-md-12" th:if="${error != null}">
					<p class="text-danger">
						<strong>Message : </strong> <span th:text="${error}"></span>
					</p>
				</div>
				<div class="col-lg-12 col-md-12 mb-12">
					<div class="card h-100">
							<h4 class="card-footer">
								<p class="text-info text-right font-weight-bold"
									th:text="'Total Price : $' + ${totalPrice}"></p>
							</h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4" th:each="cartItem: ${cart}">
					<div class="card h-100">
						<div class="card-body">
							<h4 class="card-title">
								<p class="text-info" th:text="${cartItem.listOfItem.itemName}"></p>
							</h4>
							<h5>
								<p th:text="'$' + ${cartItem.listOfItem.itemPrice}"></p>
							</h5>
							<p class="card-text">
							<p th:text="${cartItem.listOfItem.itemDesc}"></p>
							<p class="card-text">
								<b><p th:text="'Total Count: ' + ${cartItem.cartTotalCount}"></p></b>
								<b><p
										th:text="'Total Price: $' + ${cartItem.cartTotalPrice}"></p></b>
							</p>
						</div>
						<div class="card-footer">
							<small class="text-muted"><a
								th:href="@{/addQty/} + ${cartItem.listOfItem.itemNo}"
								class="btn btn-info float-left">Add</a><a
								th:href="@{/removeQty/} + ${cartItem.listOfItem.itemNo}"
								class="btn btn-danger float-right">Remove</a></small>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.col-lg-9 -->
	</div>
	<!-- /.row -->
</div>

<!-- /.container -->
<div th:replace="fragments/footer"></div>