<div th:replace="fragments/header"></div>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container">
		<a class="navbar-brand" href="#">Demo</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarResponsive" aria-controls="navbarResponsive"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a class="nav-link" th:href="@{/items}">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><span class="input-group-btn"
					data-toggle="modal" data-target=".modal-addItem"> <a
						class="nav-link" href="#">Add Item</a></span></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/cart}">Shopping Cart</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- Page Content -->
<div class="container">
	<div class="row">
		<!-- /.col-lg-3 -->
		<div class="col-lg-12">
			<div id="carouselExampleIndicators" class="carousel slide my-4"
				data-ride="carousel"></div>
			<div class="row">
				<div class="col-lg-12 col-md-12"
					th:if="${msge != null}">
							<p class="text-success">
								<strong>Message : </strong> <span th:text="${msge}"></span>
							</p>
				</div>
				<div class="col-lg-12 col-md-12"
					th:if="${error != null}">
							<p class="text-danger">
								<strong>Message : </strong> <span th:text="${error}"></span>
							</p>
				</div>
				<div class="col-lg-4 col-md-6 mb-4" th:each="item: ${items}">
					<div class="card h-100">
						<div class="card-body">
							<h4 class="card-title">
								<p class="text-info" th:text="${item.itemName}"></p>
							</h4>
							<h5>
								<p th:text="'$' + ${item.itemPrice}"></p>
							</h5>
							<p class="card-text">
							<p th:text="${item.itemDesc}"></p>
							</p>
							<p class="card-text">
								<b><p th:text="${item.itemQty} + 'pc(s)'"></p></b>
							</p>
						</div>
						<div class="card-footer">
							<small class="text-muted"><a th:href="@{/addItemToCart/} + ${item.itemNo}"
									class="btn btn-info float-left">Add to Cart</a></small>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.col-lg-9 -->
	</div>
	<!-- /.row -->
</div>

<div class="modal fade bs-example-modal-md modal-addItem" tabindex="-1"
	role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Shop Item</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form th:action="@{/addItem}" method="post">
					<div class="form-group">
						<label>Item Number</label> <input type="text" maxlength="55" class="form-control"
							name="itemNo" id="itemNo" placeholder="Item Number" required />
					</div>
					<div class="form-group">
						<label>Item Name</label> <input type="text" maxlength="255" class="form-control"
							name="itemName" id="itemName" placeholder="Item Name" required />
					</div>
					<div class="form-group">
						<label>Item Quantity</label> <input type="text"
							maxlength="4" class="form-control" name="itemQty" id="itemQty"
							placeholder="Item Quantity" required />
					</div>
					<div class="form-group">
						<label>Item Price</label> <input type="text" maxlength="15" class="form-control"
							name="itemPrice" id="itemPrice" placeholder="Item Price" required />
					</div>
					<div class="form-group">
						<label>Item Description</label> <input type="text" maxlength="255"
							class="form-control" name="itemDesc" id="itemDesc"
							placeholder="Item Description" required />
					</div>
					<button type="submit" class="btn btn-primary float-right">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- /.container -->
<div th:replace="fragments/footer"></div>
